.footer-subscribe {
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    text-align: initial;
  }
}

.footer-subscribe__title {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $accessory-color;

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}

.footer-subscribe__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 12px;
  }
}

.footer-subscribe__label {
  display: block;
  flex-basis: 450px;
  height: 50px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    flex-basis: auto;
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: auto;
    width: 358px;
    margin-bottom: 0;
  }
}

.footer-subscribe__input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: $form-input-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $background-color;
}

.footer-subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: $form-input-color;
}

.footer-subscribe__button {
  background-color: $hover-color;
  color: $accessory-color;

  display: inline-block;
  vertical-align: middle;

  cursor: pointer;

  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;

  position: relative;

  width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;

  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  overflow: hidden;
  border: 0em;

  &:focus,
  &:hover {
    background-color: $buttons-hover-color;
  }

  @media screen and (min-width: 768px) {
    flex-basis: auto;
    max-width: 200px;
  }
}

.footer-subscribe__subtitle {
  margin-right: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: $accessory-color;
}

// .footer-subscribe__icon {
//     display: inline-block;
//     width: 24px;
//     height: 24px;
//     fill: currentColor;
// }

@keyframes fly-icon {
  0% {
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
  }

  25% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(0deg);
  }

  50% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(180deg);
  }

  75% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(180deg);
  }

  100% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(360deg);
  }
}

.footer-subscribe__icon {
  position: absolute;
  right: 18px;
  width: 24px;
  height: 24px;

  top: 50%;
  transform: translatey(-50%);

  fill: currentColor;
}

.footer-subscribe .footer-subscribe__button:hover .footer-subscribe__icon,
.footer-subscribe .footer-subscribe__button:focus .footer-subscribe__icon {
  animation-name: fly-icon;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
