.navigation {
    font-size: 40px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 50px;
    }
  }
  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  &__link {
    display: inline-block;
    position: relative;
    transition: color $cubic 250ms;
    color: $main-color;
    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
    }
    &:hover,
    &:focus {
      color: $hover-color;
    }
  }
  &__link--current {
    color: $hover-color;
    @media screen and (min-width: 768px) {
      &::after {
        position: absolute;
        content: '';
        display: block;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $hover-color;
      }
    }
  }
}