.header-socials {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-socials__item {
    padding-right: 10px;


    &:nth-child(n+2) {
        padding-left: 10px;
        border-left: solid rgba(33, 33, 33, .2);
    }
}

.header-socials__link {
    font-size: 18px;
    line-height: calc(22/18);
    letter-spacing: 0.02em;
    color: $hover-color;
}