.header {
  z-index: 10;
  border-bottom: 1px solid #ececec;
  overflow-x: clip;
  position: sticky;
  top: -1px;
  right: 0;
  background-color: $accessory-color;

  @media screen and (min-width: 1200px) {
    position: static;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    // justify-content: center;
  }
}

.header__logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: $main-color;

  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
    margin-right: 92px;
  }
}

.header__logo--blue {
  color: $hover-color;
}
