.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/background/mobile/background-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $background-color;

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("./../images/background/mobile/background-mobile@2x.jpg");
    }

    @media screen and (min-width:481px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("./../images/background/tablet/background-tablet.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("./../images/background/tablet/background-tablet@2x.jpg");
        }
    }

    @media screen and (min-width:769px) {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 280px;

        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("./../images/background/desktop/background-desktop.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("./../images/background/desktop/background-desktop@2x.jpg");
        }
    }
}


.hero__title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: calc(42/26);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $accessory-color;

    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: calc(60 / 44);
    }
}

.hero__button {
    padding: 10px 24px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;

    color: $accessory-color;
    background-color: $hover-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: transparent;
    transition: background-color $cubic 250ms;

    &:focus,
    &:hover {
        background-color: $buttons-hover-color;
    }

    @media screen and (min-width:1200px) {
        padding: 10px 32px;
    }
}