.products {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.products__item {
    background-color: $accessory-color;
    flex-basis: 100%;
    max-width: 450px;

    @media screen and (min-width:768px) {
        flex-basis: calc((100% - 30px) / 2);
        max-width: 354px;
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 60px) / 3);
        max-width: 370px;
    }

}

.products__link {
    text-decoration: none;
    display: block;
    transition: box-shadow $cubic 250ms;

    &:focus,
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

}

.products__link:focus .products__overlay,
.products__link:hover .products__overlay {
    transform: translateY(0);
    opacity: 1;
}

.products__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 77px 24px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: transform $cubic 250ms, opacity $cubic 250ms;

    @media screen and (min-width:768px) {
        padding-top: 49px;
        padding-bottom: 77px;

    }

    @media screen and (min-width:1200px) {
        padding-top: 63px;
        padding-bottom: 63px;

    }

}

.products__thumb {
    position: relative;
    overflow: hidden;
}


.products__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: $accessory-color;
}

.products__container {
    display: flex;
    flex-direction: column;

    padding: 20px 24px;

    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        flex-grow: 1;
    }
}

.products__subtitle {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $main-color;
}

.products__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: $contacts-color;
}